
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
            <div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/static/assets/brand/logo.png" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="/static/assets/brand/coreui-signet-white.svg" width="118" height="46" alt="CoreUI Logo"></div>
            <ul class="c-sidebar-nav">
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg> Dashboard</a></li>
              <li class="c-sidebar-nav-title">Employee Section</li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-colors.html">
                  <svg class="c-sidebar-nav-icon">
                    
                  </svg> Add Employee</a></li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-typography.html">
                  <svg class="c-sidebar-nav-icon">
                  </svg> Employee List</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-typography.html">
                  <svg class="c-sidebar-nav-icon">
                  </svg> Add Employee Photos</a></li>
              <li class="c-sidebar-nav-title">Detection Log</li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-typography.html">
                  <svg class="c-sidebar-nav-icon">
                  </svg> Check the Detection Log</a></li>
              

              <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link c-sidebar-nav-link-success" 
                  href="">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
                  </svg>Train The Model</a></li>
            </ul>
            <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
          </div>
      